@font-face {
  font-family: "Oswald", sans-serif;
  src: url();
}
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
li,
ul {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #eba704;
  font-family: "Oswald";
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.header {
  margin: 0px auto;
  padding-top: 50px;
}
.header__img {
  width: 610px;
  height: 225px;
}
.site__main {
  flex-grow: 1;
}
.card {
  width: 18rem;
  padding: 30px;
  margin-bottom: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card:hover {
  opacity: 0.8;
  transform: rotate(25deg);
  transition: 1.5s;
  opacity: 0;
}
.card:active {
  transition: 0.6s;
  opacity: 0.6;
}
.card-body {
  /* display: flex; */
  justify-content: space-between;
}
.last__desc {
  text-align: start;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6em;
}
.main__list {
  display: flex;
}
.main__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 720px) {
  .card {
    width: 100%;
  }
}
